*
{
	margin: 0;
	padding: 0;
}
body
{
	text-align: center;
}
a
{
	color: #000000;
	text-decoration: none;
	display: block;
}
#register
{
	width: 1365px;
	height: 605px;
	background-image: url(../img/registerback.png);
	border: 1px solid #ffffff;
}
#middle
{
	width: 350px;
	height: 420px;
	margin-left: 507px;
	margin-top: 50px;
	background-color: white;
	border: 1px solid #000000;
}
#name
{
	width: 290px;
	height: 30px;
	margin-left: 30px;
	margin-top: 20px;
}
#name p
{
	float: left;
	margin-left: 5px;
	line-height: 28px;
}
#name input
{
	width: 200px;
	height: 30px;
	float: right;
	
}
#psw
{
	width: 290px;
	height: 30px;
	margin-left: 30px;
	margin-top: 20px;
}
#psw p
{
	float: left;
	line-height: 28px;
}
#psw input
{
	width: 200px;
	height: 30px;
	float: right;
}
#phone
{
	width: 290px;
	height: 30px;
	margin-left: 30px;
	margin-top: 20px;
}
#phone p
{
	float: left;
	margin-left: 5px;
	line-height: 28px;
}
#phone input
{
	width: 200px;
	height: 30px;
	float: right;
}
#IDNum
{
	width: 290px;
	height: 30px;
	margin-left: 30px;
	margin-top: 20px;
}
#IDNum p
{
	float: left;
	margin-left: 5px;
	line-height: 28px;
}
#IDNum input
{
	width: 200px;
	height: 30px;
	float: right;
}
#email
{
	width: 290px;
	height: 30px;
	margin-left: 30px;
	margin-top: 20px;
}
#email p
{
	float: left;
	margin-left: 15px;
	line-height: 28px;
}
#email input
{
	width: 200px;
	height: 30px;
	float: right;
}
#middle_bottom button
{
	width: 300px;
	height: 40px;
	margin-top: 28px;
	margin-left: -2px;
	font-size: 18px;
	border:none;
	outline: none;
	color: white;
	background: #c60f2b;
}
#middle_bottom p
{
	float: left;
	margin-left: 212px;
	font-size: 13px;
	color: gray;
	margin-top:15px;
}
#middle_bottom a
{
	float: right;
	margin-right: 25px;
	font-size: 13px;
	color: gray;
	margin-top:15px;
}
