*
{
	margin: 0;
	padding: 0;
}
body
{
	text-align: center;
}
a
{
	color: #000000;
	text-decoration: none;
	display: block;
}
#top
{
	width: 1365px;
	height: 60px;
	float: left;
	background-image: url(../img/userlisttop.png);
}
#top_input
{
	width: 325px;
	height: 28px;
	margin-left: 946px;
	margin-top: 17px;
}
#top_input input
{
	width: 255px;
	height: 28px;
	float: left;
	border: none;
	outline: none;
}
#top_input button
{
	width: 70px;
	height: 28px;
	float: right;
	border: none;
}
#middle
{
	width: 1180px;
	height:1250px;
	float: left;
	margin-left: 85px;
	background-color: white;
}
#userimage img
{
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	border-radius: 50%;
	overflow: hidden;
}
#middle_left
{
	width: 160px;
	height: 150px;
	float: left;
	margin-top: 20px;
}
#middle_left p
{
	color: red;
}
#middle_left a
{
	margin-top: 10px;
}
#message
{
	width: 320px;
	height: 140px;
	float: left;
	margin-left: 30px;
}
#message p
{
	text-align: left;
	margin-top: 20px;
}
#middle_right img
{
	float: right;
	margin-top: 20px;
}
#message_bottom
{
	width: 715px;
	height: 30px;
	float: left;
	display:flex;
	align-items: center;
}
#message_bottom a
{
	margin-left: 80px;
}
#middle_bottom img
{
	float: right;
}