body {
	background-image: url(../img/bg.jpg);
}
#login {
	border: 1px solid black;
	height: 500px;
	width: 350px;
	background-color: white;
	margin-left: 1000px;
	margin-top: 100px;
}

#img {
	
	margin-top: 30px;
	margin-left: 50px;
}
#cell {
	margin-left: 50px;
	margin-top: 20px;
}
#email {
	margin-left: 50px;
	margin-top: 20px;
}
#password {
	margin-left: 50px;
	margin-top: 20px;
}
#headimage
{
	margin-left: 28px;
	margin-top: 25px;
}
#registerbutton button {
	margin-top: 25px;
	margin-left: 100px;
	border: #FF7F50;
	background-color: coral;
	width: 150px;
	height: 30px;
}
#name {
	margin-left: 50px;
}
#time {
	margin-left: 50px;
	margin-top: 20px;
}